@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/IRANSansWeb_Bold.eot?7626d015e15844db7d1f54c8e415461a);
    src: url(../fonts/IRANSansWeb_Bold.eot?7626d015e15844db7d1f54c8e415461a?#iefix) format('embedded-opentype'),
    url(../fonts/IRANSansWeb_Bold.woff2?6ec03a37e370c0d7f4f6bbdba0feac23) format('woff2'),
    url(../fonts/IRANSansWeb_Bold.woff?a762a767a3459fec2195da1373ebf0b1) format('woff'),
    url(../fonts/IRANSansWeb_Bold.ttf?4ff441e3b8c51acd2261585feca1d8c8) format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/IRANSansWeb_Medium.eot?1121c0520a30a7295ffe21dd3fe77a60);
    src: url(../fonts/IRANSansWeb_Medium.eot?1121c0520a30a7295ffe21dd3fe77a60?#iefix) format('embedded-opentype'),
    url(../fonts/IRANSansWeb_Medium.woff2?bb6a9fe5edb6791184821d992bffdcf4) format('woff2'),
    url(../fonts/IRANSansWeb_Medium.woff?74e2ab212452657f2fc66bd08873884b) format('woff'),
    url(../fonts/IRANSansWeb_Medium.ttf?7a75459b25fca9937df9110d7e049133) format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/IRANSansWeb_Light.eot?60f95f28d8469e5df0398ba1d3e9708e);
    src: url(../fonts/IRANSansWeb_Light.eot?60f95f28d8469e5df0398ba1d3e9708e?#iefix) format('embedded-opentype'),
    url(../fonts/IRANSansWeb_Light.woff2?414e7148a634bfc82a601e3dacf84e96) format('woff2'),
    url(../fonts/IRANSansWeb_Light.woff?469a8f6aa5b4631045b7d922102392ac) format('woff'),
    url(../fonts/IRANSansWeb_Light.ttf?53a90b39dae08e4e4539ca2ce0cb3a68) format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/IRANSansWeb_UltraLight.eot?b8efb89efe7dc02c439a362d17c9dc5e);
    src: url(../fonts/IRANSansWeb_UltraLight.eot?b8efb89efe7dc02c439a362d17c9dc5e?#iefix) format('embedded-opentype'),
    url(../fonts/IRANSansWeb_UltraLight.woff2?5010d0152420ca7bd3acb1a9d668a57e) format('woff2'),
    url(../fonts/IRANSansWeb_UltraLight.woff?153b7b5a1579526611373210b6fd8754) format('woff'),
    url(../fonts/IRANSansWeb_UltraLight.ttf?eeb1edcad9b20c19bd1eecd1c371e4f8) format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/IRANSansWeb.eot?e43cfbc1a67d90e910398ded8345cd32);
    src: url(../fonts/IRANSansWeb.eot?e43cfbc1a67d90e910398ded8345cd32?#iefix) format('embedded-opentype'),
    url(../fonts/IRANSansWeb.woff2?c6f46673e2449eb071e2c098c5190c2a) format('woff2'),
    url(../fonts/IRANSansWeb.woff?df14582918ca379a280e453bb3cc6ba5) format('woff'),
    url(../fonts/IRANSansWeb.ttf?ac22d187130d6c3433a49a1e98bfa968) format('truetype');
}

body{
    direction: rtl;
    font-family: "IRANSans";
}
.nav-parnet{
    min-height: 60px;
    background: #fff;
}
.main-nav{
    padding: 15px 0;
    background-color: #555555;
    border-bottom: 1px solid #ededed;
    box-shadow: 2px 1px 2px #ededed;
    z-index: 2;
}
.nav-logo{
    width: 100px;
}
.inline-box{
    display: inline-block !important;
}
.list li{
    display: inline-block;
}
.list li a{
    transition: .3s all;
}
.list li a:link, .list li a:visited{
    color: #fff;
}
.list li a:hover{
    color: #ee3a3a;
    text-decoration: none;
}
.search-header{
    min-width: 300px;
    border-radius: 25px;
    height: 36px!important;
    padding: 6px 14px;
    border: 1px solid #ced4da;
    color: #f00;
}
.search-icon{
    position: relative;
    top: 0;
    font-size: 1.25rem;
    left: 35px;
    color: #c2c2c2;
}

.search-header:focus{
    color: #495057;
    background-color: #fff;
    border-color: #a0cfee;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52,152,219,.25)
}
.upload-icon{
    color: #8ac349;
    background: #fff;
    border: 2px solid #8ac349;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 35px;
    transition: .5s all;
    cursor: pointer;
    height: 36px !important;
}
.upload-icon:hover{
    color: #fff;
    background: #8ac349;
}
.login-link{
    transition: .3s all;
}
.login-link:link, .login-link:visited{
    color: #4e4e4e;
}
.login-link:hover{
    color: #ee3a3a;
    text-decoration: none;
}
.h-fit{
    height: fit-content;
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .2s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}
.carousel-control{
    width: 5%;
    transition: .3s all;
    opacity: 1;
}
.carousel-control:hover{
    background: #5f5f5f4d;
}
.carousel-control-icon{
    color: #7f8c8d;
    font-size: 30px;
    opacity: 1;
}
.owl-width{
    width: 238px !important;
    border-radius: 5px;
    border: 1px solid #ededed;
    transition: .3s all;
    background: #fff;
}
.owl-width:hover{

}

.owl-carousel div .owl-img-main{
    width: 236px !important;
    height: 236px !important;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}
.author-name{
    color: #7f8c8d;
}
.price-owl{
    color: #7f8c8d;

}
.l-price{
    text-decoration: line-through;
}
.owl-width a:link, .owl-width a:visited, .owl-width a:hover{
    color: #2b2b2b;
    text-decoration: none;
}
.owl-prev:focus, .owl-next:focus{
    outline: none;
}
.owl-prev{
    position: absolute;
    right: 0;
    font-size: 50px !important;
    top: 25%;
    height: 80px;
    background: #fff !important;
}
.owl-next{
    position: absolute;
    left: 0;
    font-size: 50px !important;
    top: 25%;
    height: 80px;
    background: #fff !important;
}
.owl-prev span, .owl-next span{
    display: block;
    height: 80px !important;
    padding: 0 10px;
}
.owl-nav .disabled{
    opacity: .3;
    cursor: default !important;
}
.owl-width-cat{
    width: 150px !important;
    border-radius: 20px;
    box-shadow: none;
    border: none;
    text-align: center;
    transition: .2s all;
    padding: 20px 0;
}
.owl-width-cat:hover{
    box-shadow: none !important;
}
.owl-width-cat a:link .cat-name, .owl-width-cat a:visited .cat-name{
    color: #4e4e4e;
    text-decoration: none;
}
.owl-width-cat a{
    transition: .3s all;
}
.cat-name{
    transition: .3s all;
}
.cat-item-parent:hover a, .cat-item-parent:hover .cat-icon{
    color: #ee3a3a;
    text-decoration: none;
}
.cat-icon{
    transition: .3s all;
    color: #00bfd6;
    padding: 30px;
    border-radius: 50%;
    font-size: 40px;
}
.cat-name{
    padding-top: 10px;
}
.cat-item-parent{
    cursor: pointer;
}
.box{
    box-shadow: 0 1px 15px 5px #66666626;
    padding-top: 20px;
}
.cat-item-parent:hover .cat-icon{
    color: #00bfd6;
    text-decoration: none;
    position: relative;
    margin-top: -5px;
}
.cat-item-parent:hover .cat-name{
    padding-top: 15px;
    color: #00bfd6 !important;
}
.show-more-link{
    transition: .3s all;
}
.show-more-link:link, .show-more-link:visited{
    color: #4e4e4e;
}
.show-more-link:hover{
    color: #ee3a3a;
    text-decoration: none;
}
.play-icon{
    position: absolute;
    top: 190px;
    left: 10px;
}
.play-icon span{
    font-size: 30px;
    color: #fff;
    background: #939498;
    border-radius: 50%;
    padding: 20px;
    transition: .3s all;
}
.owl-width:hover .play-icon span{
    background: #ee3a3a;
    color: #fff;
    font-size: 40px!important;
}
.vip-img{
    position: absolute;
    width: 50px !important;
    height: 50px !important;
}
.suggested-img{
    width: 50px !important;
    height: 50px !important;
}
.col-4e{
    color: #4e4e4e;
}
.col-6e{
    color: #6e6e6e;
}
.list-mobile{
    display: none;
}
.d-show-mobile{
    display: none;
}
.chan-img{
    width: 125px !important;
    height: 125px !important;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0 #66666626;
    transition: .3s all;
}
.chan-item-parent:hover .chan-img{
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 #666;
}
.owl-width-chan{
    width: 150px !important;
    border: none;
    box-shadow: none;
}
.owl-width-chan:hover{
    border: none !important;
    box-shadow: none !important;
}
.chan-item-parent{
    text-align: center;
}
.chan-author-link{
    font-weight: bold;
    transition: .3s all;
}
.chan-item-parent a:link, .chan-item-parent a:visited{
    color: #4e4e4e ;
}
.chan-author-link:hover{
    color: #ee3a3a !important;
}
.upload-box img{
    width: 250px;
    height: 250px;
    object-fit: contain
}
.upload-btn{
    border: 1px solid #ee3a3a;
    background-color: #ee3a3a;
    border-radius: 32px;
    padding: .6rem 1.2rem;
    color: #ecf0f1!important;
    transition: all .2s;
    margin-top: 20px;
}
.upload-btn:hover{
    color: #ee3a3a!important;
    background-color: #fafafa!important;
    text-decoration: none;
}
.mx-10{
    margin-left: 6rem!important;
    margin-right: 6rem!important;
}
.line{
    display: table;
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    font-size: 1.1rem;
}
.line:after {
    border-top: 1px solid #c7c7c7;
    content: '';
    display: table-cell;
    position: relative;
    top: 16px;
    width: 100%;
    right: 8px;
    left: 1.5%;
}
.line-red{
    color: #e74c3c;
    font-weight: 500;
}
.line-red:after {
    border-color: #e74c3c;
}
.percent-discount{
    background: #fb3449;
    color: #fff;
    padding: 2px 10px;
    border-radius: 50px;
}
.item-box{
    transition: .2s all;
    display: block;
    padding-bottom: 10px;
    border: 1px solid #c2c2c2;
}
.item-box img{
    width: 100%;
}
.item-box a:link, .item-box a:visited{
    color: #495057;
}
.item-box a:hover{
    text-decoration: none;
}
.item-box:hover{
    box-shadow: 0 1px 15px 5px #66666626;
    position: relative;
    margin-top: -10px;
}
footer{
    height: auto!important;
    background-color: #555;
}
.footer-logo{
    width: 140px;
}
.footer-link-top{
    transition: .3s all;
}
.footer-link-top:link, .footer-link-top:visited{
    color: #ecf0f1;
}
.footer-link-top:hover{
    color: #ee3a3a;
    text-decoration: none;
}
.footer-list{
    text-align: right;
    list-style: none;
}
.footer-list li{
    margin-top: 10px;
}
.footer-list a{
    transition: .3s all;
}
.footer-list a:link, .footer-list a:visited{
    color: #ecf0f1;
}
.footer-list a:hover{
    text-decoration: none;
    padding-right: 5px;
    color: #fff;
}
.footer-socials a{
    margin-right: 5px;
    font-size: 30px;
    transition: .3s all;
}
.footer-socials a:link, .footer-socials a:visited{
    color: #fff;
}
.footer-socials a:hover{
    color: #ee3a3a;
    text-decoration: none;
}
.podcast-head img{
    width: 100%;
}
.podcast-head .fa-star{
    color: #fbcd5d;
}
a:hover{
    text-decoration: none;
}
.features-list{
    list-style: none;
    padding-right: 1rem;
}
.features-list li:before{
    content: "\2022";
    color: #aeaeae;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: -1em;
}
.podcast-item{
    background: #f5f5f5;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    font-size: .8rem;
    text-align: right;
}
.col-0bd{
    color: #00bfd6;
}
.pod-item{
    border-bottom: 1px solid #e4e4e4;
}
.col-3a0{
    color: #39ae00;
}
.col-f34{
    color: #fb3449;
}
.add-store{
    background: #fb3449;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0;
    display: block;
    transition: .3s all;
}
.add-store:hover{
    background: #d3263b;
    color: #fff;
}
.pod-item{
    transition: .2s;
}
.pod-item:hover{
    background: #ececec;
}
.relate-box .owl-img-main-r{
    width: 136px !important;
    height: 136px !important;
    object-fit: cover;
}
.relate-box .owl-width{
    border: none;
    padding: 20px;
}
.relate-box .owl-stage-outer{
    padding: 20px;
}
.relate-box .owl-width:hover{
    box-shadow: 0 1px 15px 5px #66666626;
    position: relative;
    margin-top: -10px;
}
.review-box .nav{
    background: #f8f8f8;
    border: 1px solid #dfdfdf;
}
.review-box .nav-item .active{
    border-top: 2px solid #00bfd6;
    border-radius: 0;
}
.review-box .nav-item .nav-link{
    color: #495057;
}
.review-box .nav-item{
    border-left: 1px solid #dfdfdf;
}
.progress{
    border-radius: 0;
    height: .3rem;
}
#feature table{
    border-collapse: unset;
    border-spacing: 15px;
    margin-right: -15px;
}
#feature table td{
    padding: 10px;
}
.add-cm{
    background: #7a7a7a;
    transition: .3s all;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}
.add-cm:hover{
    background: #969696;
    color: #fff;
}
.cm-item{
    border-bottom: 1px solid #aeaeae;
}
.login-header{
    background: #f1f1f1;
    border-radius: 50px;
    padding: 5px;

}
.login-header a{
    display: inline-block;
    padding: 10px 0;
    border-radius: 50px;
    width: 145px;
    text-align: center;
    cursor: pointer;
    color: #4e4e4e;
}
.login-header a:hover{
    color: #4e4e4e;
}
.login-header a.active{
    background: #fff;
    box-shadow: 0 1px 5px 1px #66666626;
    color: #ee3a3a;
}
.login-form input{
    border-radius: 50px;
}
.forget-pass{
    transition: .1s;
}
.forget-pass:link, .forget-pass:visited{
    color: #ee3a3a;
}
.forget-pass:hover{
    font-weight: bold;
}
.login-btn, .register-btn{
    width: 100%;
    background: #fff;
    border: 1px solid #ced4da;
    padding: 10px 0;
    color: #4e4e4e;
}
.login-google{
    width: 100%;
    background: #fff;
    border: 1px solid #ced4da;
    padding: 7px 0;
    color: #4e4e4e;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
    display: block;
    transition: .3s all;
}
.login-google:hover{
    box-shadow: 0 1px 5px 5px #66666626;
    color: #4e4e4e;
}
.login-btn:focus, .register-btn:focus{
    outline: none;
}
.true-log{
    background: #8ac349;
    border: 2px solid #8ac349;
    color: #fff;
    transition: .3s;
}
.true-log:hover{
    background: #fff;
    color: #4e4e4e;
}


.agree-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.agree-label{
    padding-right: 30px;
    cursor: pointer;
}
.check-agree {
    position: absolute;
    top: 0;
    right: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border-radius: 50%;
}
.agree-label:hover input ~ .check-agree {
    background-color: #ccc;
}
.agree-label input:checked ~ .check-agree {
    background-color: #8ac349;
}
.check-agree:after {
    content: "";
    position: absolute;
    display: none;
}
.agree-label input:checked ~ .check-agree:after {
    display: block;
}
.agree-label .check-agree:after {
    right: 6px;
    top: 6px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}
.sidebar{
    background: #f1f1f1;
}
.profile-nav, .profile-nav .nav-link{
    padding: 0;
}
.profile-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.hr-profile{
    border-color: #c2c2c2;
    width: 100%;
}
.profile-nav .nav-link{
    color: #4e4e4e;
    padding: 3px 13px 6px 0;
    margin-bottom: 3px;
    border-radius: 8px;
    transition: 0.3s all;
    font-weight: 300;
}
.profile-nav .nav-link:hover{
    background: #fff;
    color: #ee3a3a;
    box-shadow: 0 2px 5px 3px #dcdcdc;
    padding: 3px 25px 6px 0;
    margin-bottom: 3px;
    border-radius: 8px;
}
.profile-nav .active{
    background: #fff;
    color: #ee3a3a;
    box-shadow: 0 2px 5px 3px #dcdcdc;
    padding: 3px 25px 6px 0;
    margin-bottom: 3px;
    border-radius: 8px;
}
.user-type-link{
    color: #4e4e4e;
    transition: .2s all;
    font-size: 1.01rem;
}
.user-type-link:hover{
    color: #ee3a3a;
}
.sidebar-right{
    position: absolute;
    right: 0;
    background: #f1f1f1;
    height: 100%;
    width: 200px;
    z-index: -1;
}
.dashboard .top-img{
    width: 100%;
    object-fit: contain;
    height: 250px;
}
.dashboard-top-item a{
    box-shadow: 0 2px 12px #dcdcdc;
    color: #4e4e4e;
    width: 100%;
    display: block;
    padding: 30px 10px;
    border-radius: 10px;
    transition: .3s all;
}
.dashboard-top-item a:hover{
    box-shadow: 0 1px 5px #2b2b2b;
    color: #ee3a3a;
}
.dashboard-top-item a.active{
    box-shadow: 0 1px 5px #2b2b2b;
    color: #ee3a3a;
}
.album-img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
.edit-album-btn, .delete-album-btn{
    font-size: .785rem;
    background-color: #fff;
    font-weight: 500;
    display: block;
    text-align: center;
    border-radius: 32px;
    padding: 12px 34px;
    cursor: pointer;
    transition: all .3s;
    width: 150px;
    margin-right: auto;
}
.edit-album-btn{
    color: #8ac349;
    border: 2px solid #8ac349;
}
.edit-album-btn:hover{
    color: #fff;
    background: #8ac349;
}
.delete-album-btn{
    color: #e74c3c;
    border: 2px solid #e74c3c;
}
.delete-album-btn:hover{
    color: #fff;
    background: #e74c3c;
}
.album-item{
    border: 1px solid #c2c2c2;
    border-radius: 15px;
    transition: all .3s;
}
.album-item:hover{
    box-shadow: 0 6px 16px 2px #c7c7c7;
}
.album-like{
    color: #c2c2c2;
}
.album-like .fa, .album-like .far{
    font-size: 20px;
}
.album-name{
    color: #4e4e4e;
    font-weight: bold;
}
.album-name:hover{
    color: #ee3a3a;
}
.chanel-img{
    width: 120px;
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.chanel-name{
    color: #a1a1a1;
    font-weight: bold;
}
.chanel-item a:hover > img{
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 #666666;
}
.chanel-item{
    margin-left: 20px;
}
.change-profile-img{
    cursor: pointer;
    transition: .3s all;
    border-radius: 50%;
}
.change-profile-img:hover{
    box-shadow: 0 1px 15px 5px #66666626;
}
.change-profile-img img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.change-profile-img span{
    background: #fff;
    position: absolute;
    right: 30%;
    top: 85px;
    border: 1px solid #c1c1c1;
    border-radius: 50px;
    padding: 5px;
}
.edit-profile-form input, .edit-profile-form select{
    border-radius: 50px;
}
.edit-profile-form textarea{
    border-radius: 10px;
}
.green-btn{
    color: #fff;
    border: 2px solid #8ac349;
    background: #8ac349;
    padding: 10px 30px;
    transition: .3s all;
}
.green-btn:hover{
    color: #8ac349;
    background: #fff;
}
.red-btn{
    color: #fff;
    border: 2px solid #e74c3c;
    background: #e74c3c;
    padding: 5px 30px;
    transition: .3s all;
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 15px;
}
.red-btn:hover{
    color: #e74c3c;
    background: #fff;
}
.new-chan-btn{
    border-radius: 50px;
}
.podcast-profile-item{
    cursor: pointer;
    margin-left: 20px;
}
.podcast-profile-item span{
    font-size: 35px;
    color: #4e4e4e;
    border: 2px solid #c1c1c1;
    padding: 35px;
    border-radius: 50%;
    transition: .3s all;
}
.podcast-profile-item p{
    margin-top: 10px;
    font-weight: 300;
    color: #4e4e4e;
    transition: .3s all;
}
.require-filed{
    color: #ee3a3a;
}


.get-email {
    display: block;
    position: relative;
    padding-right: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.get-email input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.get-email-check {
    position: absolute;
    top: 5px;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #888888;
    border-radius: 3px;
}
.get-email:hover input ~ .get-email-check {
    background-color: #ccc;
}
.get-email input:checked ~ .get-email-check {
    background-color: #8ac349;
}
.get-email:after {
    content: "";
    position: absolute;
    display: none;
}
.get-email input:checked ~ .get-email-check:after {
    display: block;
}
.get-email .get-email-check:after {
    position: absolute;
    content: "";
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.add-tag-btn{
    position: absolute;
    bottom: 18px;
    left: 19px;
    background: #f1f1f1;
    border-radius: 50px;
    padding: 7px 20px;
    color: #4e4e4e;
    cursor: pointer;
    transition: .3s all;
    font-size: .8rem;
}
.add-tag-btn:hover{
    background: #c1c1c1;
    color: #ee3a3a;
}
.tags-item, .speaker-item{
    display: inline-block;
    background: #dcdcdc;
    padding: 8px 16px;
    border-radius: 32px;
    direction: rtl;
    color: #2b2b2b;
    margin-left: 10px;
}
.tags-item span, .speaker-item span{
    margin-right: 5px;
    color: #e74c3c;
    cursor: pointer;
}
.sub-item{
    border: 2px solid;
    border-radius: 10px;
    padding: 30px 5px;
    cursor: pointer;
    transition: .3s all;
}
.sub-name{
    background: #f1f1f1;
    padding: 10px;
    border-radius: 50px;
    transition: .3s all;
}
.sub-price{
    font-weight: 700;
    font-size: 17px;
}
#sub-item-1{
    border-color: #ff8f68;
}
#sub-item-2{
    border-color: #8ac349;
}
#sub-item-3{
    border-color: #03dff3;
}
#sub-item-1 .sub-price{
    color: #ff8f68;
}
#sub-item-2 .sub-price{
    color: #8ac349;
}
#sub-item-3 .sub-price{
    color: #03dff3;
}
#sub-item-1:hover .sub-name{
    position: relative;
    margin-top: -30px;
    margin-bottom: 30px !important;
    border-radius: 0 0 30px 30px;
    background: #ff8f68 !important;
    color: #fff;
}
#sub-item-2:hover .sub-name{
    position: relative;
    margin-top: -30px;
    margin-bottom: 30px !important;
    border-radius: 0 0 30px 30px;
    background: #8ac349 !important;
    color: #fff;
}
#sub-item-3:hover .sub-name{
    position: relative;
    margin-top: -30px;
    margin-bottom: 30px !important;
    border-radius: 0 0 30px 30px;
    background: #03dff3 !important;
    color: #fff;
}
#sub-item-3:hover .sub-name{
    position: relative;
    margin-top: -30px;
    margin-bottom: 30px !important;
    border-radius: 0 0 30px 30px;
    background: #03dff3;
    color: #fff;
}
.sub-item[data-checked="true"]{
    border-width: 3px;
}
.sub-item[data-checked="true"] .sub-name{
    position: relative;
    margin-top: -30px;
    margin-bottom: 30px !important;
    border-radius: 0 0 30px 30px;
    color: #fff;
}
.b-r-50{
    border-radius: 50px;
}
.report-btn{
    background: #ee3a3a;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    display: block;
}
.album-report{
    border: 1px solid #c1c1c1;
    border-radius: 10px;
}
.album-report a{
    color: #4e4e4e;
}
.album-report a:hover .album-report-item{
    color: #4e4e4e;
    background: #f1f1f1;
}
.album-report img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
.album-report-item{
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
}
.album-report-title{
    border-bottom: 2px solid #ee3a3a;
    padding: 10px;
}
.cart-item{
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0 1px 15px 5px #66666626;
}
.cart-factor{
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 15px 5px #66666626;
}
.owl-width-cat-2{
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 10px 0;
}
.cat-play-ic{
    background: #fff;
    color: #c1c1c1;
    font-size: 50px;
    border-radius: 50%;
}
.home-topic-icon{
    color: #ee3a3a;
    margin-left: 10px;
    font-size: 30px;
}
.fa-music{
    font-size: 20px;
}
.category-item{
    border: 1px solid #d1d1d1;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}
.enamad-box{
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    padding: 35px 25px;
}
.copyright-box{
    background: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.category-2-box{
    background: url('https://jahaneasar.com/images/red.jpg');
}
.category-box .podcast-profile-item{
    margin: 0 !important;
}
.category-box .podcast-profile-item a{
    display: block;
}
.category-box .podcast-profile-item a:hover .podcast-profile-icon{
    border-color: #ee3a3a;
    position: relative;
    margin-top: -10px;
}
.category-box .podcast-profile-item a:hover .podcast-profile-title{
    margin-top: 20px;
    color: #ee3a3a;
}
.search-btn-mobile{
    display: inline-block;
    margin-top: auto;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.search-input-mobile{
    display: none;
    z-index: 1000;
}
.search-input-mobile input{
    width: 100%;
    height: 3rem;
    position: absolute;
    top: -8px;
    border-radius: 50px;
    border: none;
    padding: 10px;
}
.search-input-mobile span{
    color: #4e4e4e;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
    z-index: 100;
}
.items-box-header{
    background: #f1f1f1;
}
.items-box-header table{
    width: 100%;
    text-align: right;
    border-collapse: collapse;
    border: 2px solid #f1f1f1;
}
.items-box-header table td{
    border: 2px solid #f1f1f1;
}
.items-box-header table td a{
    padding: 5px;
    display: block;
    color: #4e4e4e;
}
.items-box-header table td a.active{
    background: #ee3a3a;
    color: #fff;
}
.items-box-header table td a:hover{
    background: #000;
    color: #fff;
}
.items-box-header table tr:nth-child(even){
    background: #e1e1e1;
}
.items-box-header table tr:nth-child(odd){
    background: #d1d1d1;
}
.items-box .search-icon-items{
    position: absolute;
    margin-right: -25px;
    margin-top: 7px;
}
.cart-box{
    font-size: .7rem;
    position: absolute;
    background: #fff;
    left: 0;
    margin-top: -8px;
    padding: 5px 10px;
    width: 250px;
    box-shadow: 0 4px 12px 0 #00000033;
    border-radius: 5px;
    display: none;
}
.cart-show-btn{
    cursor: pointer;
    color: #000000;
}
.cart-box .buy-cart-btn{
    background: #fb3449;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .2s all;
}
.cart-box .buy-cart-btn:hover{
    background: #ef5662;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.cart-box img{
    width: 50px;
    height: 50px;
}
@media (max-width: 941px){
    .search-header {
        min-width: 210px;
    }
    .upload-parent span{
        font-size: 30px;
    }
}
@media (max-width: 768px){
    .footer-box{
        margin-top: 30px;
    }
    .footer-logo-p{
        margin: 0 auto;
    }
    .item-box{
        margin-top: 20px;
    }
    .d-show-mobile{
        display: block;
    }
    .bars-icon{
        color: #fff;
        font-size: 30px;
    }
    .login-sm-link:link, .login-sm-link:visited, .login-sm-link:hover{
        color: #fff;
    }
    .list-mobile{
        list-style: none;
        width: 100%;
        text-align: right;
        padding: 10px;
        padding-bottom: 20px;
        position: fixed;
        z-index: 1000000;
        background: #fff;
    }
    .list-mobile li{
        margin-top: 10px;
    }
    .list-mobile li a:link, .list-mobile li a:visited, .list-mobile li a:hover{
        color: #4e4e4e;
    }
    .d-none-mobile{
        display: none !important;
    }
    .nav-parnet{
        background: #555;
    }
    .main-nav{
        background: #555;
    }
    .list-parent .list{

    }
    .upload-box img {
        width: 220px;
        height: 220px;
    }
    .upload-box .col-12{
        margin-top: 20px;
    }

}
@media screen and (max-width: 992px) and (min-width: 576px){
    .container {
        max-width: 96vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 120px) {
    #carouselExampleControls {
        margin-top: 30px;
    }

    .upload-parent {
        margin-top: 30px;
    }

    /*.video-box {*/
        /*background-size: 450px 820px;*/
    /*}*/

}

@media screen and (min-width: 1300px) {
    .without-mobile {
        margin-right: 440px!important;
    }
}
.flex-container{
    /*display: -webkit-box;  !* OLD - iOS 6-, Safari 3.1-6, BB7 *!*/
    /*display: -ms-flexbox;  !* TWEENER - IE 10 *!*/
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;

    width: 400px;
    height: 250px;
    /*background-color: #3498db;*/
}

.inner-element{
    padding-bottom: 52px;
    width: 300px;
    height: 250px;
    /*background-color: #f1c40f;*/
}
.video-box {
    background: url('../images/back-video.jpg');
    background-repeat: repeat;
    background-size: 450px 450px;
}
